// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Vuetify
$body-font-family: 'Montserrat', sans-serif;
$heading-font-family: 'Oswald';
$font-size-root: 16px;

// Global
$global-border-radius: 4px;
